LearningOpenGL_VR.VC.db
LearningOpenGL_VR.VC.VC.opendb
Debug
LearningOpenGL_VR/Debug
LearningOpenGL_VR/glfw-3.2.1.bin.WIN32/docs
LearningOpenGL_VR/glfw-3.2.1.bin.WIN64/docs
.vs
LearningOpenGL_VR/OculusSDK/Samples/
LearningOpenGL_VR/OculusSDK/Tools/
